.mi-menu {
    float: left;
}

.nav-link.active,
.show > .nav-link {
    background-color: #ab6c6c;
}

.div-pointer {
    cursor: pointer
}

.mi-sidebar {
    height: 83vh;
    width: 15vw;
}

.padding-opt {
    margin-top: 20px;
}

@media screen and (max-width: 850px) {
    .sidebar-complete {
        display: none;
    }
}

@media screen and (min-width: 851px) {
    .sidebar-icon {
        display: none;
    }
}