<footer class="p-4 bg-pink text-white mi-footer">
    <!-- <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img class="bi m-2" width="40" alt="Angular Logo" src="../assets/img/boomclub.png" />

            <span class="fs-4">BoomClub</span>
        </a>

        <form class="col-12 col-lg-auto col-md-auto ocultar mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown ocultar">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{photo}}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{name}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
            </ul>
        </div>
    </div> -->
</footer>