<div class="container-fluid">
    <main class="col-12">
        <h2>Listado de coches</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Modelo</th>
                        <th scope="col">Nº de bastidor</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha de producción</th>
                        <th scope="col">Fecha de venta</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let coche of coches" class="justificado">
                        <td>
                            {{coche.modelo}}
                        </td>
                        <td>
                            {{coche.bastidor}}
                        </td>
                        <td>
                            {{coche.usuario.username}}
                        </td>
                        <td>
                            {{coche.fecProd | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{coche.fecVenta | date: 'dd-MM-yyyy'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>